/**
  * @name Neptune
  * @author DevEvil#8745
  * @version 2.0
  * @description A dark, blue and customizable theme
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/Neptune-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Neptune/Neptune.theme.css');

:root {
  --neptune-main-bg: #1a2035;
  --neptune-main-color: #228bd1;
  --neptune-sec-color: #84adf8;
  --neptune-emoji-picker-color: 180deg;
}
